<div class="item-show">
  <div class="item-box">
    <h2 class="name">
      <%= @pict.title %>
      <%= "投稿者 #{@pict.user.nickname}" %>
    </h2>
    
    <div class="item-img-content">
      <%= image_tag @pict.image.variant(resize: '600x600') ,class:"item-box-img" %>
    </div>


      <h1>俳句を詠もう！</h1>
    <%= form_with model:[@pict, @hic], id: "form" do |form| %>
      <%= form.text_area :hic, id: "hic", size:"37x1" %>
      <h1>季語（または主役）は？</h1>
      <%= form.text_field :kigo, id: "kigo" %>
      <%= form.submit '投稿する', id: "submit" %>
    <% end %>

<div id="list">
</div>

<%=link_to 'もどる', pict_path(@pict), class:"back-btn" %>

