<div class="search-head">

<div class="left-header">
    <div class="header-title">
      <%= link_to current_user.nickname, edit_user_path(current_user) %>
    </div>
  </div>

  <div class ="center-header">
  <%= search_form_for @q do |f| %>
    <%= f.label :title_or_comment, "写真の検索" %>
    <%= f.search_field :title_or_comment_cont %>
    <%= f.submit "検索" %>
  <% end %>
  </div>

  <div class="right-header">
    <div class="header-button">
      <%= link_to "写真を投稿する", new_pict_path %>
    </div>
  </div>
</div>

<div class="pictures">
<div class='item-contents'>
    <h2 class='title'>投稿写真ピックアップ</h2>
    <div class="subtitle" >
      写真を選んで俳句を詠んでみてね！
    </div>
    <ul class='item-lists'>

      <% if @picts.present? %>
      <% @picts.each do|pict| %>
      <li class='list'>
        <%= link_to pict_path(pict.id) do %>
        <div class='item-img-content'>
          <%= image_tag pict.image.variant(resize: '300x300'), class: "item-img" %>
        </div>
        <div class='item-info'>
          <h3 class='item-name'>
            <%= pict.title %>
          </h3>
          
        </div>
        <% end %>
      </li>
      <% end %>

    <% else %>
      
      <li class='list'>
        <%= link_to new_pict_path do %>
        <%= image_tag "https://tech-master.s3.amazonaws.com/uploads/curriculums/images/Rails1-4/sample.jpg", class: "item-img" %>
        <div class='item-info'>
          <h3 class='item-name'>
            写真を投稿してね！
          </h3>
          <div class='item-price'>
            <span>サンプル画像</span>
            <div class='star-btn'>
              <%= image_tag "star.png", class:"star-icon" %>
              <span class='star-count'>0</span>
            </div>
          </div>
        </div>
        <% end %>
      </li>
      
    <% end %>
    </ul>
  </div>
</div>