<div class="side-bar-head">
  <div class="header-name">
    <a href=root_path>HicPict (俳句 ピクト)</a>
  </div>
  
</div>

<div class="side-bar-main">
  <div>
    <参考サイト一覧>
  </div>
  <div>
    ●歳時記
  </div>
  <div>
    <ul>
      <li><%= link_to "・歳時記インデックス", "http://www.haisi.com/saijiki/" %></li>
      <li><%= link_to "・きごさい歳時記", "https://kigosai.sub.jp/001/" %></li>
      <li><%= link_to "・私の俳句歳時記", "https://www.mysai.net/" %></li>
      <li><%= link_to "・日々是活活き生き暮らし歳時記", "https://i-nekko.jp/" %></li>
    </ul>
  </div>
  <div>
    ●俳句の基礎
  </div>
<div>
    <ul>
      <li><%= link_to "・LOOCS", "https://loohcs.jp/articles/1024" %></li>
      <li><%= link_to "・ワゴコロ", "https://wa-gokoro.jp/traditional-culture/haiku/344/" %></li>
      <li><%= link_to "・犬耳書店", "https://inumimi.papy.co.jp/inmm/sc/sect/1-1090482-84/" %></li>
      <li><%= link_to "・短歌と俳句の基礎知識（youtube)", "https://www.youtube.com/watch?v=yH2sHuN4LIY" %></li>
    </ul>
  </div>

  <div>
  ===================
  ====================
  =====================
  ====================
  ===================
  </div>

  <div>
    <写真を載せる際の注意点>
  </div>
  <ul>
    <li>個人が特定できる写真は載せない</li>
    <li>メインが何かわかりやすく</li>
    <li>発想を飛ばしやすいものも可</li>
  </ul>

  <div>
  ===================
  ====================
  =====================
  ====================
  ===================
  </div>

</div>