<div class="item-show">
  <div class="item-box">
    <h2 class="name">
      <%= @pict.title %>
    </h2>
    <div class="item-img-content">
      <%= image_tag @pict.image.variant(resize: '600x600') ,class:"item-box-img" %>
    </div>
    <h4 class="name">
      <%= @pict.comment %>
    </h4>

    <% if user_signed_in? %> 
        
          <%if current_user == @pict.user %>
            <%= link_to "俳句を詠む", new_pict_hic_path(pict_id: @pict.id), method: :get, class:"item-red-btn"%>
          <% else %>
            <%= link_to "写真の編集", edit_pict_path, method: :get, class: "item-red-btn" %>
            <p class="or-text">or</p>
            <%= link_to "削除", pict_path, method: :delete, class:"item-destroy" %>
          <% end %>
        
    <% end %>

    <div>
    <%= link_to "top page", root_path, method: :get, class: "item-red-btn" %>
    </div>

  <% @hics.each do |hic| %>
    <div class="post">
    <div class ="hic-iroiro">
      <div class="post-date">
        投稿日時：<%= hic.created_at %>
      </div>
      <div class="post-content">
        <%= hic.hic %>
      </div>
      <div class="post-content">
        <%= hic.kigo %>
      </div>
      <div class="post-content">
        <%= hic.user.nickname %>
      </div>
    </div>
  <% end %>