<h1>ユーザー詳細ページ</h1>
<h3><%= @user.email %></h3>
<h2>投稿内容</h2>
<% @user.picts.each do |pict| %>
  <a href="/picts/<%= pict.id %>"><%= pict.content %></a>
  <hr>
<% end %>
<h3>いいねしている投稿</h3>
<% @user.liked_picts.each do |pict| %>
  <%= pict.user.email %>
  <%= pict.content %>
<% end %>
<%= link_to "ユーザー一覧へ", users_path %>
<%= link_to "ホームへ戻る", picts_path %>