<div class="item-show">
  <div class="item-box">
    <h2 class="name">
      <%= @pict.title %>
      <%= "投稿者 #{@pict.user.nickname}" %>
    </h2>
    <div class="item-img-content">
      <%= image_tag @pict.image.variant(resize: '600x600') ,class:"item-box-img" %>
    </div>

    <div class ="hic-iroiro">
      <div class="post-date">
        投稿日時：<%= @hic.created_at %>
      </div>
      <div class="post-content">
        <%= @hic.hic %>
      </div>
      <div class="post-content">
        <%= @hic.kigo %>
      </div>
      <div class="post-content">
        <%= @hic.user.nickname %>
      </div>
    </div>

<%= form_with(model:[@pict,@hic,@eval], local: true) do |form| %>
<p>情景は浮かぶか</p>
<%= form.select :scene, [["１点",1],["２点",2],["３点",3],["４点",4]], prompt:"点数を選択してください", class: "scene_point" %>
<p>リズムは良いか</p>
<%= form.select :rhythm, [["１点",1],["２点",2],["３点",3],["４点",4]], prompt:"点数を選択してください", class: "rhythm_point" %>
<p>季語（主役は引き立っているか</p>
<%= form.select :kigo, [["１点",1],["２点",2],["３点",3],["４点",4]], prompt:"点数を選択してください", class: "kigo_point" %>
<p>文法にミスはないか</p>
<%= form.select :tech, [["１点",1],["２点",2],["３点",3],["４点",4]], prompt:"点数を選択してください", class: "tech_point" %>
<p>独創性はあるか</p>
<%= form.select :original, [["１点",1],["２点",2],["３点",3],["４点",4]], prompt:"点数を選択してください", class: "original_point" %>
<div>
  <%= form.text_area :review, placeholder:"コメントはこちらにご記入下さい", id: "review", size:"30x3" %>
</div>
  <div>
    <%= form.submit '送信' %>
  </div>
<% end %>

<%=link_to 'もどる', pict_path(@pict), class:"back-btn" %>

